---
---
<aside class="announcement">
    <h2>公告</h2>
    <p>不要翻译超过一段的内容，这违背了翻译API的<a href="https://mymemory.translated.net/terms-and-conditions">文档协议</a>。</p>

</aside>

<!--<style>-->
<!--    .announcement {-->
<!--        background-color: #fff3cd;-->
<!--        color: #856404;-->
<!--        padding: 10px 20px;-->
<!--        border: 1px solid #ffeeba;-->
<!--        border-radius: 8px;-->
<!--        margin-bottom: 20px;-->
<!--    }-->
<!--</style>-->
