---
import LanguageSelector from './LanguageSelector.astro';
import Textarea from './Textarea.astro';
---
<div class="wrapper">
    <div class="text-input">
        <Textarea class="from-text" placeholder="输入文本" />
        <Textarea class="to-text" placeholder="翻译结果" readonly disabled />
    </div>
    <ul class="controls">
        <li class="row from">
            <div class="icons">
                <i id="from-volume" class="fas fa-volume-up"></i>
                <i id="from-copy" class="fas fa-copy"></i>
            </div>
            <LanguageSelector class="from-lang-select" selectedValue="en-GB" />
        </li>
        <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
        <li class="row to">
            <LanguageSelector class="to-lang-select" selectedValue="zh" />
            <div class="icons">
                <i id="to-volume" class="fas fa-volume-up"></i>
                <i id="to-copy" class="fas fa-copy"></i>
            </div>
        </li>
    </ul>
    <input type="file" id="file-input" accept=".docx,.md,.txt"/>
    <button id="translate-btn">翻译输入文本</button>
    <button id="upload-btn">上传文件并翻译</button>
    <button id="download-btn">下载翻译结果</button>
</div>
